# Media files
*.png
*.jpg
*.mp4

# Python
*.pyc
.mypy_cache
venv

# Pyinstaller
build/
dist/
*.exe
*.out

# IDE data
.idea/
.vscode/

# macOS files
.DS_Store

# Folders
output/
messages/

# Other
TODO.md