# Media files
*.mp4

# Python
*.pyc
*.egg-info
.mypy_cache
venv

# Pyinstaller
build/
dist/
*.exe
*.out

# Pytest
.pytest_cache/
.coverage

# IDE data
.idea/
.vscode/

# macOS files
.DS_Store

# Folders
output/
messages/

# Other
TODO.md