<html lang="en">

<head>
    <title>Chatalysis - {{ title }}</title>
    <style>
        body {
            font-family: "Helvetica Neue", Tahoma, Verdana, Arial, sans-serif;
            margin: 0;
            padding: 0
        }
        div.root {
            text-align: center;
        }
        .profile-picture {
            border-radius: 50%;
            object-fit: cover;
            width: 100px;
            height: 100px;
            border: 10px double black;
        }
        .profile-picture-small {
            border-radius: 50%;
            object-fit: cover;
            width: 75px;
            height: 75px;
            border: 5px double black;
        }
        .stats {
            margin-top: 1px;
            margin-bottom: 1px;
        }
        .stats-num {
            margin: 0;
            font-size: 30;
            font-weight: 200;
        }
        .stats-text {
            margin: 0;
        }
        .emojis {
            margin: 0;
            align-self: flex-end;
        }
    </style>
    <script src="{{path}}/node_modules/chart.js/dist/Chart.js"></script>
    <meta charset="utf-8">
</head>

<body>
    <div class="root">
        <section id="header" style="background-clip: padding-box; padding-top: 5px; padding-bottom: 5px; background-color: #F2F2F2;">
            <i>Chatalysis {{ version }}</i>
        </section>
        <section id="names" style="display: grid; grid-template-columns: repeat(3, auto); padding-top: 20px; padding-bottom: 30px;">
            {% if participants == 2 %}
                <div style="text-align: right; padding-top: 10px;">
                    <img src="{{ pictures[names[0]] }}" alt="Profile picture 1" class="profile-picture">
                </div>
                <div style="padding-top: 10px;">
                    <h1 style="font-size: 30; margin-bottom: 5;">{{ names[0] }} and {{ names[1] }}</h1>
                    <b>{{ fromDay }}</b>   -   <b>{{ toDay }}</b>
                </div> 
                <div style="text-align: left; padding-top: 10px;">
                    <img src="{{ pictures[names[1]] }}" alt="Profile picture 2" class="profile-picture">
                </div>
            {% else %}
                <div></div>
                <div style="padding-bottom: 15px;">
                    <h1 style="font-size: 30; margin-bottom: 5;">{{ title }}</h1>
                    <b>{{ fromDay }}</b> - <b>{{ toDay }}</b>
                </div>
                <div></div>
            {% endif %}
        </section>
        <section id="total stats" style="display: grid; grid-template-columns: repeat(7, 1fr); padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 20px; background-color: #F2F2F2;">
            <div style="display: flex; justify-content: center;">
                <div style="align-self: center">
                    <p class="stats-num">{{ images["total"]|space }}</p>
                    <p class="stats-text">{{ "images" if images["total"] != 1 else "image"}}</p>
                </div>
            </div>
            <div style="display: flex; justify-content: center;">
                <div style="align-self: center">
                    <p class="stats-num">{{ gifs["total"]|space }}</p>
                    <p class="stats-text">{{ "gifs" if gifs["total"] != 1 else "gif"}}</p>
                </div>
            </div>
            <div style="display: flex; justify-content: center;">
                <div style="align-self: center">
                    <p class="stats-num">{{ stickers["total"]|space }}</p>
                    <p class="stats-text">{{ "stickers" if stickers["total"] != 1 else "sticker"}}</p>
                </div>
            </div>
            <div style="display: flex; justify-content: center;">
                <div style="align-self: center; padding-bottom: 8px; min-width: 200px;">
                    <p style="margin: 0; font-size: 55; font-weight: 250;">{{ messages["total"]|space }}</p>
                    <p style="margin: 0; font-weight: 450;">total messages</p>
                </div>
            </div>
            <div style="display: flex; justify-content: center;">
            <div style="align-self: center">
                <p class="stats-num">{{ videos["total"]|space }}</p>
                <p class="stats-text">{{ "videos" if videos["total"] != 1 else "video"}}</p>
            </div>
            </div>
            <div style="display: flex; justify-content: center;">
            <div style="align-self: center">
                <p class="stats-num">{{ audios["total"]|space }}</p>
                <p class="stats-text">{{ "audios" if audios["total"] != 1 else "audio"}}</p>
            </div>
            </div>
            <div style="display: flex; justify-content: center;">
            <div style="align-self: center">
                <p class="stats-num">{{ files["total"]|space }}</p>
                <p class="stats-text">{{ "files" if files["total"] != 1 else "file"}}</p>
            </div>
            </div>
        </section>
        <section id="personal stats" style="display: grid; grid-template-columns: 1fr 200px 1fr; padding-bottom: 30px; padding-top: 20px; grid-gap: 2px;">
            <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 2px;">  
                <div style="display: flex; align-items: center; justify-self: end;">
                    <div style="display: grid; grid-template-rows: auto auto; padding-right: 10px; border-right: 1px solid black;">
                        <div>
                        <img src="{{ pictures[names[0]] }}" alt="Profile picture 1" class="profile-picture-small">
                        </div>
                        <p style="margin-top: 5px; margin-bottom: 0;">
                        <b>{{ splits[0] }}</b>
                        </p>
                    </div>
                </div>
                <div style="display: flex; align-items: center; justify-self: start;">
                    <div style="text-align: left; padding-left: 10px; border-left: 1px solid black;">
                        <p class="stats">
                            <b>{{ messages.get(names[0], 0)|space }}</b> messages<br>
                            <b>{{ images.get(names[0], 0)|space }}</b> {{ "images" if images.get(names[0], 0) != 1 else "image"}}<br>
                            <b>{{ gifs.get(names[0], 0)|space }}</b> {{ "gifs" if gifs.get(names[0], 0) != 1 else "gif"}}<br>
                            <b>{{ stickers.get(names[0], 0)|space }}</b> {{ "stickers" if stickers.get(names[0], 0) != 1 else "sticker"}}<br>
                            <b>{{ videos.get(names[0], 0)|space }}</b> {{ "videos" if videos.get(names[0], 0) != 1 else "video"}}<br>
                            <b>{{ audios.get(names[0], 0)|space }}</b> {{ "audios" if audios.get(names[0], 0) != 1 else "audio"}}<br>
                            <b>{{ files.get(names[0], 0)|space }}</b> {{ "files" if files.get(names[0], 0) != 1 else "file"}}
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <canvas id="pieMessages" width="200px" height="200px"></canvas>
            </div>
            <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 2px;">
                <div style="display: flex; align-items: center; justify-self: end;">
                    <div style="display: grid; grid-template-rows: auto auto; padding-right: 10px; border-right: 1px solid black;">
                        <div>   
                        <img src="{{ pictures[names[1]] }}" alt="Profile picture 1" class="profile-picture-small">
                        </div>
                        <p style="margin-bottom: 0; margin-top: 5px;">
                        <b>{{ splits[1] }}</b>
                        </p>
                    </div>
                </div>
                <div style="display: flex; align-items: center; justify-self: start;">
                    <div style="text-align: left; padding-left: 10px; border-left: 1px solid black;">
                        <p class="stats">
                            <b>{{ messages.get(names[1], 0)|space }}</b> messages<br>
                            <b>{{ images.get(names[1], 0)|space }}</b> {{ "images" if images.get(names[1], 0) != 1 else "image"}}<br>
                            <b>{{ gifs.get(names[1], 0)|space }}</b> {{ "gifs" if gifs.get(names[1], 0) != 1 else "gif"}}<br>
                            <b>{{ stickers.get(names[1], 0)|space }}</b> {{ "stickers" if stickers.get(names[1], 0) != 1 else "sticker"}}<br>
                            <b>{{ videos.get(names[1], 0)|space }}</b> {{ "videos" if videos.get(names[1], 0) != 1 else "video"}}<br>
                            <b>{{ audios.get(names[1], 0)|space }}</b> {{ "audios" if audios.get(names[1], 0) != 1 else "audio"}}<br>
                            <b>{{ files.get(names[1], 0)|space }}</b> {{ "files" if files.get(names[1], 0) != 1 else "file"}}
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="time stats" style="display: grid; grid-template-columns: repeat(4, 1fr); padding-top: 10px; background-clip: padding-box; background-color: #F2F2F2;">
            <div>
                <p class="stats-num">{{ topDay[0] }}</p>
                <p class="stats-text">top day<br>
                ({{ topDay[1]|space }} messages)</p>
            </div>
            <div>
                <p class="stats-num">{{ topMonth[0] }}</p>
                <p class="stats-text">top month<br>
                ({{ topMonth[1]|space }})</p>
            </div>
            <div>
                <p class="stats-num">{{ topYear[0] }}</p>
                <p class="stats-text"></p>top year<br>
                ({{ topYear[1]|space }})</p>
            </div>
            <div>
                <p class="stats-num">{{ topWeekday[0] }}</p>
                <p class="stats-text">top weekday<br>
                ({{ topWeekday[1]|space }})</p>
            </div>
        </section>
        <section id="time graphs" style="display: grid; grid-template-columns: 75% 25%; padding-bottom: 40px; padding-top: 20px; padding-right: 75px; padding-left: 75px;">
            <div style="height: 225px;">
                <canvas id="timeGraph"></canvas>
            </div>
            <div style="height: 225px;">
                <canvas id="hours"></canvas>
            </div>
        </section>
        <section id="emoji stats" style="display: grid; grid-template-columns: 1fr 60% 1fr; padding-bottom: 10px; padding-top: 10px; background-clip: padding-box; background-color: #F2F2F2;">
            <div style="display: flex; align-items: center; justify-self: end;">
                <div>    
                    <p class="stats-num">{{ emojisCount["total"]|space }}</p>
                    <p class="stats-text">total emojis</p>
                </div>
            </div>
            <div style="display: flex; justify-content: center;">
            <div style="display: grid; grid-template-columns: repeat({{ emojisL["total"] }}, 60px);">
                {% for emoji, n, f in topEmojis["total"] %}
                <div style="display: flex; justify-content: center;">
                    <p class="emojis"><span style="font-size: {{f}}%">{{ emoji }}</span><br>
                    ({{ n|space }})</p>
                </div>
                {% endfor %}
            </div>
            </div>
            <div style="display: flex; align-items: center; justify-self: start;">
                <div>
                    <p class="stats-num">{{ diffEmojis["total"]|space }}</p>
                    <p class="stats-text">different emojis</p>
                </div>
            </div>
        </section>
        <section id="emoji personal" style="display: grid; grid-template-columns: 50% 50%; padding-bottom: 40px; padding-top: 25px;">
            <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 2px;">
                <div style="display: flex; align-items: center; justify-self: end;">
                    <div style="display: grid; grid-template-rows: auto auto; padding-right: 10px; border-right: 1px solid black;">
                        <div>
                            <img src="{{ pictures[names[0]] }}" alt="Profile picture 1" class="profile-picture-small">
                        </div>
                        <p style="margin-top: 5px; margin-bottom: 0;">
                            <b>{{ splits[0] }}</b>
                        </p>
                    </div>
                </div>
                <div style="display: flex; align-items: center; justify-self: start;">
                    <div style="text-align: left; padding-left: 10px; border-left: 1px solid black;">
                        <p class="stats">
                            <b>{{ emojisCount["sent"][names[0]]["total"]|space }}</b> total emojis<br>
                            <b>{{ diffEmojis[names[0]]|space }}</b> different emojis<br>
                            <b>{{ avgEmojis[names[0]] }}</b> emojis per message<br>
                            <br>
                            top emojis:
                        </p>
                    </div>
                </div>
            </div>
            <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 2px;">
                <div style="display: flex; align-items: center; justify-self: end;">
                    <div style="display: grid; grid-template-rows: auto auto; padding-right: 10px; border-right: 1px solid black;">
                        <div>
                            <img src="{{ pictures[names[1]] }}" alt="Profile picture 1" class="profile-picture-small">
                        </div>
                        <p style="margin-top: 5px; margin-bottom: 0;">
                            <b>{{ splits[1] }}</b>
                        </p>
                    </div>
                </div>
                <div style="display: flex; align-items: center; justify-self: start;">
                    <div style="text-align: left; padding-left: 10px; border-left: 1px solid black;">
                        <p class="stats">
                            <b>{{ emojisCount["sent"][names[1]]["total"]|space }}</b> total emojis<br>
                            <b>{{ diffEmojis[names[1]]|space }}</b> different emojis<br>
                            <b>{{ avgEmojis[names[1]] }}</b> emojis per message<br>
                            <br>
                            top emojis:
                        </p>
                    </div>
                </div>
            </div>
            <div style="display: flex; justify-content: center; align-items: flex-start; padding-top: 8px;">
                <div style="display: grid; grid-template-columns: repeat({{ emojisL[names[0]] }}, 50px);">
                    {% for emoji, n, f in topEmojis[names[0]] %}
                    <div style="display: flex; justify-content: center;">
                        <p class="emojis"><span style="font-size: {{f}}%">{{ emoji }}</span><br>
                            ({{ n|space }})</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div style="display: flex; justify-content: center; align-items: flex-start; padding-top: 8px;">
                <div style="display: grid; grid-template-columns: repeat({{ emojisL[names[1]] }}, 50px);">
                    {% for emoji, n, f in topEmojis[names[1]] %}
                    <div style="display: flex; justify-content: center;">
                        <p class="emojis"><span style="font-size: {{f}}%">{{ emoji }}</span><br>
                            ({{ n|space }})</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section id="reacts stats" style="display: grid; grid-template-columns: 1fr 58.5% 1fr; padding-bottom: 10px; padding-top: 10px; background-clip: padding-box; background-color: #F2F2F2;">
            <div style="display: flex; align-items: center; justify-self: end;">
                <div>
                    <p class="stats-num">{{ reacsCount["total"] }}</p>
                    <p class="stats-text">total reactions</p>
                </div>
            </div>
            <div style="display: flex; justify-content: center;">
                <div style="display: grid; grid-template-columns: repeat({{ reacsL["total"] }}, 60px);">
                    {% for reac, n, f in topReacs["total"] %}
                    <div style="display: flex; justify-content: center;">
                        <p class="emojis"><span style="font-size: {{f}}%">{{ reac }}</span><br>
                            ({{ n|space }})</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div style="display: flex; align-items: center; justify-self: start;">
                <div>
                    <p class="stats-num">{{ diffReacsGave["total"]|space }}</p>
                    <p class="stats-text">different reactions</p>
                </div>
            </div>
        </section>
        <section id="reacs personal" style="display: grid; grid-template-columns: 50% 50%; padding-bottom: 20px; padding-top: 25px;">
            <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 2px;">
                <div style="display: flex; align-items: center; justify-self: end;">
                    <div
                        style="display: grid; grid-template-rows: auto auto; padding-right: 10px; border-right: 1px solid black;">
                        <div>
                            <img src="{{ pictures[names[0]] }}" alt="Profile picture 1" class="profile-picture-small">
                        </div>
                        <p style="margin-top: 5px; margin-bottom: 0;">
                            <b>{{ splits[0] }}</b>
                        </p>
                    </div>
                </div>
                <div style="display: flex; align-items: center; justify-self: start;">
                    <div style="text-align: left; padding-left: 10px; border-left: 1px solid black;">
                        <p class="stats">
                            <b>{{ reacsCount["gave"][names[0]]["total"]|space }}</b> reactions given<br>
                            <b>{{ diffReacsGave[names[0]]|space }}</b> different reactions given<br>
                            <b>{{ reacsCount["got"][names[0]]["total"]|space }}</b> reactions received<br>
                            <b>{{ avgReacs[names[0]] }}</b> reactions per message<br>
                            <br>
                            top reactions received:
                        </p>
                    </div>
                </div>
            </div>
            <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 2px;">
                <div style="display: flex; align-items: center; justify-self: end;">
                    <div
                        style="display: grid; grid-template-rows: auto auto; padding-right: 10px; border-right: 1px solid black;">
                        <div>
                            <img src="{{ pictures[names[1]] }}" alt="Profile picture 1" class="profile-picture-small">
                        </div>
                        <p style="margin-top: 5px; margin-bottom: 0;">
                            <b>{{ splits[1] }}</b>
                        </p>
                    </div>
                </div>
                <div style="display: flex; align-items: center; justify-self: start;">
                    <div style="text-align: left; padding-left: 10px; border-left: 1px solid black;">
                        <p class="stats">
                            <b>{{ reacsCount["gave"][names[1]]["total"]|space }}</b> reactions given<br>
                            <b>{{ diffReacsGave[names[1]]|space }}</b> different reactions given<br>
                            <b>{{ reacsCount["got"][names[1]]["total"]|space }}</b> reactions received<br>
                            <b>{{ avgReacs[names[1]] }}</b> reactions per message<br>
                            <br>
                            top reactions received:
                        </p>
                    </div>
                </div>
            </div>
            <div style="display: flex; justify-content: center; align-items: flex-start; padding-top: 8px;">
                <div style="display: grid; grid-template-columns: repeat({{reacsL[names[0]]}}, 50px);">
                    {% for reac, n, f in topReacs[names[0]] %}
                    <div style="display: flex; justify-content: center;">
                        <p class="emojis"><span style="font-size: {{f}}%">{{ reac }}</span><br>
                            ({{ n|space }})</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div style="display: flex; justify-content: center; align-items: flex-start; padding-top: 8px;">
                <div style="display: grid; grid-template-columns: repeat({{reacsL[names[1]]}}, 50px);">
                    {% for reac, n, f in topReacs[names[1]] %}
                    <div style="display: flex; justify-content: center;">
                        <p class="emojis"><span style="font-size: {{f}}%">{{ reac }}</span><br>
                            ({{ n|space }})</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section id="footer" style="background-clip: padding-box; padding-top: 5px; padding-bottom: 5px; background-color: #F2F2F2;">
            <i><a style="color: inherit; text-decoration: none;" href="https://github.com/stepva/chatalysis">https://github.com/stepva/chatalysis</a></i>
        </section>
    </div>
    <script>
        var myChart = new Chart("pieMessages", {
            type: 'doughnut',
            data: {
                labels: {{ [names[1], names[0]] }},
                datasets: [{
                    data: {{ [messages[names[1]], messages[names[0]]] }},
                    backgroundColor: [
                        'rgba(231, 177, 46, 0.4)',
                        'rgba(253, 213, 88, 0.2)'
                    ],
                    borderColor: [
                        'rgba(231, 177, 46, 0.8)',
                        'rgba(253, 213, 88, 1)'
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                legend: {display: false},
                title: {
                    display: true,
                    text: 'Messages distribution',
                    fontStyle: "normal",
                    fontSize: 15
                }
            }    
        })
    </script>
    <script>
        var myChart = new Chart("timeGraph", {
                type: "bar",
                data: {
                    labels: {{ daysLab|safe }},
                    datasets: [{
                        maxBarThickness: 2,
                        data: {{ days|safe }},
                        backgroundColor: "rgba(0, 0, 0, 1)",
                        borderColor: "rgba(0, 0, 0, 1)",
                        hoverBackgroundColor: "rgba(0, 0, 0, 1)",
                        hoverBorderColor: "rgba(0, 0, 0, 1)" 
                    }]               
                },
                options: {
                    scales: {
                        xAxes: [{
                            gridLines: {
                                drawOnChartArea: false
                            },
                            ticks: {
                                autoSkipPadding: 50,
                                maxRotation: 0
                            }
                        }],
                            yAxes: [{
                                gridLines: {
                                    drawOnChartArea: false
                                },
                                ticks: {
                                    stepSize: {{ stepSizeY }}
                                }
                            }]
                    },
                    legend: {display: false},
                    title: {
                        display: true,
                        text: "Daily messages over time",
                        fontStyle: "normal",
                        fontSize: 15

                    },
                    maintainAspectRatio: false,
                    tooltips: {enabled: false},
                    hover: {mode: null}
            }
        })
    </script>
    <script>
        var myChart = new Chart("hours", {
                type: "line",
                data: {
                    labels: {{ hoursLab| safe }},
                    datasets: [{
                        data: {{ hours| safe }},
                        backgroundColor: "rgba(0, 0, 0, 0.2)",
                        borderColor: "rgba(0, 0, 0, 0.8)",
                        hoverBackgroundColor: "rgba(0, 0, 0, 0.2)",
                        hoverBorderColor: "rgba(0, 0, 0, 0.8)",
                        borderWidth: 2 
                        }]               
                },
                options: {
                    scales: {
                        xAxes: [{
                            gridLines: {
                                drawOnChartArea: false
                            },
                            ticks: {
                                autoSkipPadding: 50,
                                maxRotation: 0
                            }
                        }],
                            yAxes: [{
                                gridLines: {
                                    drawOnChartArea: false,
                                },
                                ticks: {
                                    display: false,
                                    stepSize: {{ stepSizeYh }}
                                }
                            }]
                        },
                    elements: {
                        point: {
                            radius: 0
                        }
                    },        
                    legend: { display: false },
                    title: {
                        display: true,
                        text: "Messages throught the day",
                        fontStyle: "normal",
                        fontSize: 15
                        },
                    maintainAspectRatio: false
                    }
                })
    </script>
      
</body>

</html>

