<html lang="en">

<head>
    <title>Chatalysis - {{ title }}</title>
    <style>
        body {
            font-family: "Helvetica Neue", Tahoma, Verdana, Arial, sans-serif;
            margin: 0;
            padding: 0
        }
        div.root {
            text-align: center;
        }
        .profile-picture {
            border-radius: 50%;
            object-fit: cover;
            width: 100px;
            height: 100px;
            border: 10px double black;
        }
        .profile-picture-small {
            border-radius: 50%;
            object-fit: cover;
            width: 75px;
            height: 75px;
            border: 5px double black;
        }
        .stats {
            margin-top: 1px;
            margin-bottom: 1px;
        }
        .stats-num {
            margin: 0;
            font-size: 30;
            font-weight: 200;
        }
        .stats-text {
            margin: 0;
        }
        .emojis {
            margin: 0;
            align-self: flex-end;
        }
    </style>
    <script src="{{path}}/node_modules/chart.js/dist/Chart.js"></script>
    <meta charset="utf-8">
</head>

<body>
    <div class="root">
        <section id="header" style="background-clip: padding-box; padding-top: 5px; padding-bottom: 5px; background-color: #F2F2F2;">
            <i>Chatalysis {{ version }}</i>
        </section>
        <section id="names" style="display: grid; grid-template-columns: repeat(3, auto); padding-top: 30px; padding-bottom: 30px;">
            <div style="text-align: right;">
                <img src="{{ picture1 }}" alt="Profile picture 1" class="profile-picture">
            </div>
            <div>
                <h1 style="font-size: 30; margin-bottom: 5;">{{ fullname1 }} and {{ fullname2 }}</h1>
                <b>{{ fromDay }}</b>   -   <b>{{ toDay }}</b>
            </div> 
            <div style="text-align: left;">
                <img src="{{ picture2 }}" alt="Profile picture 2" class="profile-picture">
            </div>
        </section>
        <section id="total stats" style="display: grid; grid-template-columns: repeat(7, 1fr); padding-top: 10px; padding-bottom: 10px; background-color: #F2F2F2;">
            <div style="display: flex; justify-content: center;">
                <div style="align-self: center">
                    <p class="stats-num">{{ totalImages }}</p>
                    <p class="stats-text">{{ "images" if totalImages != 1 else "image"}}</p>
                </div>
            </div>
            <div style="display: flex; justify-content: center;">
                <div style="align-self: center">
                    <p class="stats-num">{{ totalGifs }}</p>
                    <p class="stats-text">{{ "gifs" if totalGifs != 1 else "gif"}}</p>
                </div>
            </div>
            <div style="display: flex; justify-content: center;">
                <div style="align-self: center">
                    <p class="stats-num">{{ totalStickers }}</p>
                    <p class="stats-text">{{ "stickers" if totalStickers != 1 else "sticker"}}</p>
                </div>
            </div>
            <div style="display: flex; justify-content: center;">
                <div style="align-self: center; padding-bottom: 8px;">
                    <p style="margin: 0; font-size: 55; font-weight: 250;">{{ totalMessages }}</p>
                    <p style="margin: 0; font-weight: 450;">total messages</p>
                </div>
            </div>
            <div style="display: flex; justify-content: center;">
            <div style="align-self: center">
                <p class="stats-num">{{ totalVideos }}</p>
                <p class="stats-text">{{ "videos" if totalVideos != 1 else "video"}}</p>
            </div>
            </div>
            <div style="display: flex; justify-content: center;">
            <div style="align-self: center">
                <p class="stats-num">{{ totalAudios }}</p>
                <p class="stats-text">{{ "audios" if totalAudios != 1 else "audio"}}</p>
            </div>
            </div>
            <div style="display: flex; justify-content: center;">
            <div style="align-self: center">
                <p class="stats-num">{{ totalFiles }}</p>
                <p class="stats-text">{{ "files" if totalFiles != 1 else "file"}}</p>
            </div>
            </div>
        </section>
        <section id="personal stats" style="display: grid; grid-template-columns: 1fr 1fr 200px 1fr 1fr; padding-bottom: 30px; padding-top: 20px; grid-gap: 2px;">
            <div style="display: flex; align-items: center; justify-self: end;">
                <div style="display: grid; grid-template-rows: auto auto; padding-right: 10px; border-right: 1px solid black;">
                    <div>
                    <img src="{{ picture1 }}" alt="Profile picture 1" class="profile-picture-small">
                    </div>
                    <p style="margin-top: 5px; margin-bottom: 0;">
                    <b>{{ name1 }}</b>
                    </p>
                </div>
            </div>
            <div style="display: flex; align-items: center; justify-self: start;">
                <div style="text-align: left; padding-left: 10px; border-left: 1px solid black;">
                    <p class="stats">
                        <b>{{ messages1 }}</b> messages<br>
                        <b>{{ images1 }}</b> {{ "images" if images1 != 1 else "image"}}<br>
                        <b>{{ gifs1 }}</b> {{ "gifs" if gifs1 != 1 else "gif"}}<br>
                        <b>{{ stickers1 }}</b> {{ "stickers" if stickers1 != 1 else "sticker"}}<br>
                        <b>{{ videos1 }}</b> {{ "videos" if videos1 != 1 else "video"}}<br>
                        <b>{{ audios1 }}</b> {{ "audios" if audios1 != 1 else "audio"}}<br>
                        <b>{{ files1 }}</b> {{ "files" if files1 != 1 else "file"}}
                    </p>
                </div>
            </div>
            <div>
                <canvas id="pieMessages" width="200" height="200"></canvas>
            </div>
            <div style="display: flex; align-items: center; justify-self: end;">
                <div style="display: grid; grid-template-rows: auto auto; padding-right: 10px; border-right: 1px solid black;">
                    <div>   
                    <img src="{{ picture2 }}" alt="Profile picture 1" class="profile-picture-small">
                    </div>
                    <p style="margin-bottom: 0; margin-top: 5px;">
                    <b>{{ name2 }}</b>
                    </p>
                </div>
            </div>
            <div style="display: flex; align-items: center; justify-self: start;">
                <div style="text-align: left; padding-left: 10px; border-left: 1px solid black;">
                    <p class="stats">
                        <b>{{ messages2 }}</b> messages<br>
                        <b>{{ images2 }}</b> {{ "images" if images2 != 1 else "image"}}<br>
                        <b>{{ gifs2 }}</b> {{ "gifs" if gifs2 != 1 else "gif"}}<br>
                        <b>{{ stickers2 }}</b> {{ "stickers" if stickers2 != 1 else "sticker"}}<br>
                        <b>{{ videos2 }}</b> {{ "videos" if videos2 != 1 else "video"}}<br>
                        <b>{{ audios2 }}</b> {{ "audios" if audios2 != 1 else "audio"}}<br>
                        <b>{{ files2 }}</b> {{ "files" if files2 != 1 else "file"}}
                    </p>
                </div>
            </div>
        </section>
        <section id="time stats" style="display: grid; grid-template-columns: repeat(4, 1fr); padding-top: 10px; background-clip: padding-box; background-color: #F2F2F2;">
            <div>
                <p class="stats-num">{{ topDay }}</p>
                <p class="stats-text">top day<br>
                ({{ topDayMsgs }} messages)</p>
            </div>
            <div>
                <p class="stats-num">{{ topMonth }}</p>
                <p class="stats-text">top month<br>
                ({{ topMonthMsgs }})</p>
            </div>
            <div>
                <p class="stats-num">{{ topYear }}</p>
                <p class="stats-text"></p>top year<br>
                ({{ topYearMsgs }})</p>
            </div>
            <div>
                <p class="stats-num">{{ topWeekday }}</p>
                <p class="stats-text">top weekday<br>
                    ({{ topWeekdayMsgs }})</p>
            </div>
        </section>
        <section id="time graphs" style="display: grid; grid-template-columns: 75% 25%; padding-bottom: 40px; padding-top: 20px; padding-right: 75px; padding-left: 75px;">
            <div style="height: 225px;">
                <canvas id="timeGraph"></canvas>
            </div>
            <div style="height: 225px;">
                <canvas id="hours"></canvas>
            </div>
        </section>
        <section id="emoji stats" style="display: grid; grid-template-columns: 1fr 60% 1fr; padding-bottom: 10px; padding-top: 10px; background-clip: padding-box; background-color: #F2F2F2;">
            <div style="display: flex; align-items: center; justify-self: end;">
                <div>    
                    <p class="stats-num">{{ totalEms }}</p>
                    <p class="stats-text">total emojis</p>
                </div>
            </div>
            <div style="display: flex; justify-content: center;">
            <div style="display: grid; grid-template-columns: repeat({{emojisL}}, 60px);">
                {% for emoji, n, f in emojis %}
                <div style="display: flex; justify-content: center;">
                    <p class="emojis"><span style="font-size: {{f}}%">{{ emoji }}</span><br>
                    ({{ n }})</p>
                </div>
                {% endfor %}
            </div>
            </div>
            <div style="display: flex; align-items: center; justify-self: start;">
                <div>
                    <p class="stats-num">{{ diffEms }}</p>
                    <p class="stats-text">different emojis</p>
                </div>
            </div>
        </section>
        <section id="emoji personal" style="display: grid; grid-template-columns: 50% 50%; padding-bottom: 40px; padding-top: 25px;">
            <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 2px;">
                <div style="display: flex; align-items: center; justify-self: end;">
                    <div style="display: grid; grid-template-rows: auto auto; padding-right: 10px; border-right: 1px solid black;">
                        <div>
                            <img src="{{ picture1 }}" alt="Profile picture 1" class="profile-picture-small">
                        </div>
                        <p style="margin-top: 5px; margin-bottom: 0;">
                            <b>{{ name1 }}</b>
                        </p>
                    </div>
                </div>
                <div style="display: flex; align-items: center; justify-self: start;">
                    <div style="text-align: left; padding-left: 10px; border-left: 1px solid black;">
                        <p class="stats">
                            <b>{{ totalEms1 }}</b> total emojis<br>
                            <b>{{ diffEms1 }}</b> different emojis<br>
                            <b>{{ emojisAvg1 }}</b> emojis per message<br>
                            <br>
                            top emojis:
                        </p>
                    </div>
                </div>
            </div>
            <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 2px;">
                <div style="display: flex; align-items: center; justify-self: end;">
                    <div style="display: grid; grid-template-rows: auto auto; padding-right: 10px; border-right: 1px solid black;">
                        <div>
                            <img src="{{ picture2 }}" alt="Profile picture 1" class="profile-picture-small">
                        </div>
                        <p style="margin-top: 5px; margin-bottom: 0;">
                            <b>{{ name2 }}</b>
                        </p>
                    </div>
                </div>
                <div style="display: flex; align-items: center; justify-self: start;">
                    <div style="text-align: left; padding-left: 10px; border-left: 1px solid black;">
                        <p class="stats">
                            <b>{{ totalEms2 }}</b> total emojis<br>
                            <b>{{ diffEms2 }}</b> different emojis<br>
                            <b>{{ emojisAvg2 }}</b> emojis per message<br>
                            <br>
                            top emojis:
                        </p>
                    </div>
                </div>
            </div>
            <div style="display: flex; justify-content: center; align-items: flex-start; padding-top: 8px;">
                <div style="display: grid; grid-template-columns: repeat({{emojisL1}}, 50px);">
                    {% for emoji, n, f in emojis1 %}
                    <div style="display: flex; justify-content: center;">
                        <p class="emojis"><span style="font-size: {{f}}%">{{ emoji }}</span><br>
                            ({{ n }})</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div style="display: flex; justify-content: center; align-items: flex-start; padding-top: 8px;">
                <div style="display: grid; grid-template-columns: repeat({{emojisL2}}, 50px);">
                    {% for emoji, n, f in emojis2 %}
                    <div style="display: flex; justify-content: center;">
                        <p class="emojis"><span style="font-size: {{f}}%">{{ emoji }}</span><br>
                            ({{ n }})</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section id="reacts stats" style="display: grid; grid-template-columns: 1fr 58.5% 1fr; padding-bottom: 10px; padding-top: 10px; background-clip: padding-box; background-color: #F2F2F2;">
            <div style="display: flex; align-items: center; justify-self: end;">
                <div>
                    <p class="stats-num">{{ totalRs }}</p>
                    <p class="stats-text">total reactions</p>
                </div>
            </div>
            <div style="display: flex; justify-content: center;">
                <div style="display: grid; grid-template-columns: repeat({{reacsL}}, 60px);">
                    {% for reac, n, f in reacs %}
                    <div style="display: flex; justify-content: center;">
                        <p class="emojis"><span style="font-size: {{f}}%">{{ reac }}</span><br>
                            ({{ n }})</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div style="display: flex; align-items: center; justify-self: start;">
                <div>
                    <p class="stats-num">{{ diffRs }}</p>
                    <p class="stats-text">different reactions</p>
                </div>
            </div>
        </section>
        <section id="reacs personal" style="display: grid; grid-template-columns: 50% 50%; padding-bottom: 20px; padding-top: 25px;">
            <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 2px;">
                <div style="display: flex; align-items: center; justify-self: end;">
                    <div
                        style="display: grid; grid-template-rows: auto auto; padding-right: 10px; border-right: 1px solid black;">
                        <div>
                            <img src="{{ picture1 }}" alt="Profile picture 1" class="profile-picture-small">
                        </div>
                        <p style="margin-top: 5px; margin-bottom: 0;">
                            <b>{{ name1 }}</b>
                        </p>
                    </div>
                </div>
                <div style="display: flex; align-items: center; justify-self: start;">
                    <div style="text-align: left; padding-left: 10px; border-left: 1px solid black;">
                        <p class="stats">
                            <b>{{ reacsGave1 }}</b> reactions given<br>
                            <b>{{ reacsGot1 }}</b> reactions received<br>
                            <b>{{ reacsGotAvg1 }}</b> reactions per message<br>
                            <br>
                            top reactions received:
                        </p>
                    </div>
                </div>
            </div>
            <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 2px;">
                <div style="display: flex; align-items: center; justify-self: end;">
                    <div
                        style="display: grid; grid-template-rows: auto auto; padding-right: 10px; border-right: 1px solid black;">
                        <div>
                            <img src="{{ picture2 }}" alt="Profile picture 1" class="profile-picture-small">
                        </div>
                        <p style="margin-top: 5px; margin-bottom: 0;">
                            <b>{{ name2 }}</b>
                        </p>
                    </div>
                </div>
                <div style="display: flex; align-items: center; justify-self: start;">
                    <div style="text-align: left; padding-left: 10px; border-left: 1px solid black;">
                        <p class="stats">
                            <b>{{ reacsGave2 }}</b> reactions given<br>
                            <b>{{ reacsGot2 }}</b> reactions received<br>
                            <b>{{ reacsGotAvg2 }}</b> reactions per message<br>
                            <br>
                            top reactions received:
                        </p>
                    </div>
                </div>
            </div>
            <div style="display: flex; justify-content: center; align-items: flex-start; padding-top: 8px;">
                <div style="display: grid; grid-template-columns: repeat({{reacsL1}}, 50px);">
                    {% for reac, n, f in reacs1 %}
                    <div style="display: flex; justify-content: center;">
                        <p class="emojis"><span style="font-size: {{f}}%">{{ reac }}</span><br>
                            ({{ n }})</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div style="display: flex; justify-content: center; align-items: flex-start; padding-top: 8px;">
                <div style="display: grid; grid-template-columns: repeat({{reacsL2}}, 50px);">
                    {% for reac, n, f in reacs2 %}
                    <div style="display: flex; justify-content: center;">
                        <p class="emojis"><span style="font-size: {{f}}%">{{ reac }}</span><br>
                            ({{ n }})</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section id="footer" style="background-clip: padding-box; padding-top: 5px; padding-bottom: 5px; background-color: #F2F2F2;">
            <i><a style="color: inherit; text-decoration: none;" href="https://github.com/stepva/chatalysis">https://github.com/stepva/chatalysis</a></i>
        </section>
    </div>
    <script>
        var myChart = new Chart("pieMessages", {
            type: 'doughnut',
            data: {
                labels: {{ names|safe }},
                datasets: [{
                    data: {{ msgsPeople|safe }},
                    backgroundColor: [
                        'rgba(231, 177, 46, 0.4)',
                        'rgba(253, 213, 88, 0.2)'
                    ],
                    borderColor: [
                        'rgba(231, 177, 46, 0.8)',
                        'rgba(253, 213, 88, 1)'
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                legend: {display: false},
                title: {
                    display: true,
                    text: 'Messages distribution',
                    fontStyle: "normal",
                    fontSize: 15
                }
            }    
        })
        var myChart = new Chart("timeGraph", {
                type: "bar",
                data: {
                    labels: {{ daysLab|safe }},
                    datasets: [{
                        maxBarThickness: 2,
                        data: {{ days|safe }},
                        backgroundColor: "rgba(0, 0, 0, 1)",
                        borderColor: "rgba(0, 0, 0, 1)",
                        hoverBackgroundColor: "rgba(0, 0, 0, 1)",
                        hoverBorderColor: "rgba(0, 0, 0, 1)" 
                    }]               
                },
                options: {
                    scales: {
                        xAxes: [{
                            gridLines: {
                                drawOnChartArea: false
                            },
                            ticks: {
                                autoSkipPadding: 50,
                                maxRotation: 0
                            }
                        }],
                            yAxes: [{
                                gridLines: {
                                    drawOnChartArea: false
                                },
                                ticks: {
                                    stepSize: {{ stepSizeY }}
                                }
                            }]
                    },
                    legend: {display: false},
                    title: {
                        display: true,
                        text: "Daily messages over time",
                        fontStyle: "normal",
                        fontSize: 15

                    },
                    maintainAspectRatio: false,
                    tooltips: {enabled: false},
                    hover: {mode: null}
            }
        })
        var myChart = new Chart("hours", {
                type: "line",
                data: {
                    labels: {{ hoursLab| safe }},
                    datasets: [{
                        data: {{ hours| safe }},
                        backgroundColor: "rgba(0, 0, 0, 0.2)",
                        borderColor: "rgba(0, 0, 0, 0.8)",
                        hoverBackgroundColor: "rgba(0, 0, 0, 0.2)",
                        hoverBorderColor: "rgba(0, 0, 0, 0.8)",
                        borderWidth: 2 
                        }]               
                },
                options: {
                    scales: {
                        xAxes: [{
                            gridLines: {
                                drawOnChartArea: false
                            },
                            ticks: {
                                autoSkipPadding: 50,
                                maxRotation: 0
                            }
                        }],
                            yAxes: [{
                                gridLines: {
                                    drawOnChartArea: false,
                                },
                                ticks: {
                                    display: false,
                                    stepSize: {{ stepSizeYh }}
                                }
                            }]
                        },
                    elements: {
                        point: {
                            radius: 0
                        }
                    },        
                    legend: { display: false },
                    title: {
                        display: true,
                        text: "Messages throught the day",
                        fontStyle: "normal",
                        fontSize: 15
                        },
                    maintainAspectRatio: false
                    }
                })
    </script>
      
</body>

</html>

